.chat-main
  .main-header
    .group-info
      .group-info__name
        test
      .group-info__people
        Member:
    .edit-btn
      =link_to "/",class:"edit-btn__info" do
        Edit
  .messages
  .form
